{% extends "default.html" %}
{% block head %}
{{ super() }}
	<title>Upload Complete</title>
	<style type="text/css">
		#files{width:600px;margin:auto;}
		#files th{text-align:center;}
		#files td{border:1px solid black;}
	</style>
{% endblock %}

{% block body %}

{{ message }}
<h3>Received Files:</h3>
<table id="files">
	<tr>
		<th>File Name</th>
		<th>Size</th>
	</tr>
{% for f in files %}
	<tr>
		<td><a href="{{ f[1] }}">{{ f[0] }}</a></span></td>
		<td>{{ f[2] }}</td>
	</tr>
{% endfor %}
</table>
<div class="center">
	<a href="/">
		<img src="/static/icons/arrow-left.png" /><br />
		Upload
	</a>
</div>

{% endblock %}
